body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between containers */
    align-items: flex-start; /* Align items to the top */
    width: 100%; /* Adjust the width of the container as needed */
    margin-top: 5vh;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%; /* Adjust the width of the game container as needed */
}

canvas {
    display: block;
    max-width: 100%;
    border: 2px solid black;
}

#inventory-display {
    width: 25%; /* Adjust the width of the inventory display as needed */
    margin-left: 2%; /* Adjust the spacing between game container and inventory display */
}

#inventory-list {
    max-width: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ccc;
    max-height: 70vh;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#inventory-list li {
    padding: 5px 0;
    font-size: 2vh;
}
