body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%; /* Adjust the width of the game container as needed */
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
    text-align: center;
}

#title {
    font-size: 2em;
    margin-bottom: 10px;
}

#intro-message {
    margin-bottom: 20px;
}

#how-to-play {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

#how-to-play:before {
    content: 'How to Play:';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#how-to-play > div {
    margin-bottom: 5px;
}

#instructions-list {
    border-top: 1px solid #ccc;
    padding-top: 10px; 
    padding-bottom: 10px;
}

#instructions-list:before {
    content: 'Controls:';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

#instructions-list > div {
    margin-bottom: 5px;
}

#press-esc {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 3vh;
}

#press-esc > div {
    margin-top: 10px;
    margin-bottom: 5px;
}

#message {
    position: absolute;
    color: rgb(172, 37, 55);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 20vh;
    left: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2;
    font-size: 8vh;
    display: none;
}

#play-button {
    position: absolute;
    color: darkred;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 2;
    /* font-size: 8vh; */
    display: none;
}

canvas {
    display: none;
    max-width: 100%;
    border: 2px solid black;
}

#side {
    display: none;
    flex-direction: column;
    width: 20%; /* Set the width to 100% */
    align-items: flex-start;
    margin-left: 2%;
    box-sizing: border-box; /* Apply border-box sizing model */
}

#timer {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2vh;
    margin-top: 1vh;
    border: 2px solid black;
    box-sizing: border-box;
}

#pickup {
    width: 100%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 2vh;
    box-sizing: border-box;
    font-size: 1em;
}

#highlighted-food {
    width: 100%; /* Set width to 100% */
}

#inventory-display {
    width: 100%;
    box-sizing: border-box;
}

#inventory-list {
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid black;
    max-height: 70vh;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 300px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
}

#inventory-list li {
    width: 100%;
    padding: 5px 0;
    font-size: 2vh;
}

#gobacks {
    width: 100%;
    margin-top: 2vh;
    border: 2px solid black;
    box-sizing: border-box;
}

#best-time {
    width: 100%;
    margin-top: 2vh;
    border: 2px solid black;
    box-sizing: border-box;
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 22:58:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}


.fade-out {
	-webkit-animation: fade-out 5s ease-out both;
	        animation: fade-out 5s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 22:57:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3.5s both;
	        animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-12 0:35:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}


.pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	        animation: pulsate-bck 0.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 23:47:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
